nav {
  padding: 2vmax 6vmax;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}
nav .logo {
  font: 700 2vmax sans-serif;
  padding-right: 3vmax;
  color: green;
}
/* nav .left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1vmax;
} */
.nav-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2vmax;
}
nav a {
  color: rgb(0, 136, 255);
  font: 600 1.2vmax sans-serif;
}
nav a:hover {
  color: orangered;
}
/* Home */
.home {
  height: 90vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font: 600 6vmax sans-serif;
  color: white;
  background-color: rgb(0, 136, 255);
}
@media screen and (max-width: 696px) {
  /* nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vmax;
  } */
  nav .logo {
    font-size: 2.5vmax;
  }
  nav a {
    font: 600 1.5vmax sans-serif;
  }
}
@media screen and (max-width: 425px) {
  nav {
    /* flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vmax; */
    padding: 2vmax;
  }
  .nav-links {
    gap: 1vmax;
  }
}
